## 自定义
/RazorPagesTestMovie/bin/
/RazorPagesTestMovie/bin/*
/RazorPagesTestMovie/obj/
/RazorPagesTestMovie/obj/*
/.idea/
/.idea/*
/.git/
/.git/*
/.vs/
/.vs/*
RazorPagesTestMovie.sln.DotSettings.user

## 默认
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/